@import "../../css-config/mixins.scss";
body {
    color: black;
    background-color: rgb(221, 238, 254);
  }
  
  .container {
    margin:26px;
    
  }

.heading{
color: rgb(57, 137, 216);
text-align: center;
flex: none;
margin: 2rem;

}
